@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

:root {
  --main: #10141e;
  --secondary: #161d2f;
  --pureWhite: #fff;
  --red: #fc4747;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main);
}
